body {
  background-image: linear-gradient(to right, yellow, green);
  text-align: center;
  height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#score {
  margin: 50px auto;
}
.circle {
  width: 80px;
  height: 80px;
  border: 1px solid green;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  background-color: black;
  display: inline-block;
}

button {
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid green;
  border-radius: 5px;
}
