body {
  background-image: linear-gradient(to top right, #ee0ee3, #0dd85b);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 50px;
}

h2 {
  padding-top: 50px;
  border-top: 1px dashed wheat;
}

input[type="submit"] {
  background-color: black;
  display: block;
  margin: auto;
  padding: 16px;
  color: whitesmoke;
  border: none;
}

.direction {
  display: inline-block;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
