* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(
    to right bottom,
    rgb(108, 196, 236),
    rgb(29, 26, 185)
  );
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}
header {
  padding: 40px;
}

.today {
  margin-top: 15px;
  font-size: 15px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container i {
  font-size: 15px;
  padding: 15px;
  background-color: rgb(34, 112, 201);
  color: white;
  border: none;
  border-radius: 16px 0px 0px 16px;
}
.input-container input[type="text"] {
  background-color: rgb(34, 112, 201);
  width: 150px;
  box-sizing: border-box;
  border: none;
  font-size: 18px;
  color: white;
  border-radius: 0px 16px 16px 0px;
  padding: 12px;
  transition: width 0.3s ease-in-out;
  outline-style: none;
}
.input-container input[type="text"]:focus {
  width: 30%;
}
::placeholder {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.error {
  font-size: 15px;
  padding-top: 10px;
}
button {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: rgb(34, 112, 201);
  cursor: pointer;
  color: white;
  border-style: none;
  box-shadow: 0 5px #999;
  border-radius: 5px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  box-shadow: none;
  background: linear-gradient(180deg, rgb(108, 196, 236), rgb(29, 26, 185));
}
.weatherData {
  margin-top: 40px;
}
.weatherData .city {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 5px;
}
.weatherData .info {
  font-size: 15px;
}
.weatherData .temp {
  font-size: 50px;
  padding: 20px;
}
.weatherData .temp-range {
  font-size: 15px;
}
footer {
  background: linear-gradient(
    to top right,
    rgb(108, 196, 236),
    rgb(29, 26, 185)
  );
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
