body {
  background: lightblue;
  text-align: center;
}

label {
  width: 200px;
  display: inline;
}

form {
  background: gray;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid blueviolet;
}
p {
  margin: 10px;
  font-size: 26px;
}

input[type="submit"] {
  background-color: chocolate;
  border-radius: 5px;
  margin: 40px 40px;
}

input {
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 2px;
}
